#menu {
  margin-top: 10px;;
  margin-bottom: 10px;
}

#menu ul {
  display: table-row;
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu ul li {
  display: table-cell;
}

#menu ul li a {
  background: #F7F7F7;
  color: #000;
  display: table-cell;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  width: 1000px;
  border-bottom: 2px solid #eee;
  border-top: 2px solid #eee;
}

#menu ul li a:hover {
  background: #EDEDED;
}