.ui-tooltip{position:absolute;z-index:900000;background-color:#fff;box-shadow:0 0 3px #000;padding:2px 5px;}@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:local('Open Sans Light'),local('OpenSans-Light'),url(../../../../../themes.googleusercontent.com/static/fonts/opensans/v7/DXI1ORHCpsQm3Vp6mXoaTWeP1y_Bkidl4ESyB_O2G_c.ttf)/*tpa=http://themes.googleusercontent.com/static/fonts/opensans/v7/DXI1ORHCpsQm3Vp6mXoaTWeP1y_Bkidl4ESyB_O2G_c.ttf*/ format('truetype');}@font-face{font-family:'Cuprum';font-style:normal;font-weight:400;src:local('Cuprum'),local('Cuprum-Regular'),url(../../../../../themes.googleusercontent.com/static/fonts/cuprum/v4/mn4VPBSqQXCLGhD-YfHBHw.woff)/*tpa=http://themes.googleusercontent.com/static/fonts/cuprum/v4/mn4VPBSqQXCLGhD-YfHBHw.woff*/ format('woff');}@font-face{font-family:'Cuprum';font-style:normal;font-weight:700;src:local('Cuprum Bold'),local('Cuprum-Bold'),url(../../../../../themes.googleusercontent.com/static/fonts/cuprum/v4/c7zShuBQq4ZpIJ8BT4kcTw.woff)/*tpa=http://themes.googleusercontent.com/static/fonts/cuprum/v4/c7zShuBQq4ZpIJ8BT4kcTw.woff*/ format('woff');}@font-face{font-family:'Cuprum';font-style:italic;font-weight:400;src:local('Cuprum Italic'),local('Cuprum-Italic'),url(../../../../../themes.googleusercontent.com/static/fonts/cuprum/v4/y4vfqo0Ocb6_53BQZVcsMw.woff)/*tpa=http://themes.googleusercontent.com/static/fonts/cuprum/v4/y4vfqo0Ocb6_53BQZVcsMw.woff*/ format('woff');}@font-face{font-family:'Cuprum';font-style:italic;font-weight:700;src:local('Cuprum Bold Italic'),local('Cuprum-BoldItalic'),url(../../../../../themes.googleusercontent.com/static/fonts/cuprum/v4/bnkXaBfoYvaJ75axRPSwVD8E0i7KZn-EPnyo3HZu7kw.woff)/*tpa=http://themes.googleusercontent.com/static/fonts/cuprum/v4/bnkXaBfoYvaJ75axRPSwVD8E0i7KZn-EPnyo3HZu7kw.woff*/ format('woff');}*{outline:none;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,dl,dt,dd,ol,ul,li,form,label,input,textarea,table,tbody,tfoot,thead,tr,th,td,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{-moz-box-sizing:border-box;box-sizing:border-box;padding:0;margin:0;text-decoration: none;}body{background-image: #2b2933;background-color: #2b2933;background-position:50% 0%;background-repeat:no-repeat;background-size:cover;background-attachment:fixed;font-family:'Calibri',sans-serif;font-size:14px;color:#383838;}html,body{height:100%;}a{text-decoration:none;color:#5da000;}.tab-box a:hover{text-decoration:underline;}a img,img,iframe{max-width:100%;border:none;outline:none;}ul,li,dl,dt,dd{list-style:none;display:block;padding:0;margin:0;}p{margin:10px 0;}hr{background:#535353;color:#535353;border:none;height:1px;}h1,h2,h3,h4,h5,h6{display:inline-block;margin-bottom:3px;font-weight:100;font-size:100%;}*::-webkit-input-placeholder{color:#8c8c8c;}*::-moz-placeholder{color:#8c8c8c;}*:-moz-placeholder{color:#8c8c8c;}*:-ms-input-placeholder{color:#8c8c8c;}*:focus::-webkit-input-placeholder{color:#545454;}*:focus:-moz-placeholder{color:#545454;}*:focus:-moz-placeholder{color:#545454;}*:focus:-ms-input-placeholder{color:#545454;}form{display:block;padding:0;margin:0;}input,textarea,select,button,label{outline:none;vertical-align:middle;color:#595959;margin-bottom:8px;padding:10px;font-size:14px;font-family:'Calibri',sans-serif;display:block;width:100%;border:none;background-color:#f4f4f4;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-moz-transition:all .35s ease;-webkit-transition:all .35s ease;-o-transition:all .35s ease;transition:all .35s ease;}input:hover,input:focus,textarea:hover,textarea:focus,.response-form .row input:hover,.response-form .row input:focus{background-color:rgba(240,240,210,.5);}input:last-child,textarea:last-child,button:last-child,.inp-left input:last-child{margin-bottom:0;}label,input[type="button"],input[type="submit"],input[type="reset"],button{cursor:pointer;border:none;height:33px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius: 50px;background-color:#5da000;color:#fff;font-size: 13px;font-family: Roboto;-moz-transition:all .25s ease;-webkit-transition:all .25s ease;-o-transition:all .25s ease;transition:all .25s ease;}input[type="button"]:hover,input[type="submit"]:hover,input[type="reset"]:hover,button:hover{background-color:#f3484c;}textarea{-moz-transition:background .25s ease-in-out;-webkit-transition:background .25s ease-in-out;-o-transition:background .25s ease-in-out;transition:background .25s ease-in-out;resize:vertical;}.left,.lcol{float:left!important;}.right,.rcol{float:right!important;}.center{text-align:center!important;}.hidden,textarea,.content-item{overflow:hidden;}.content-item{padding-left: 15px;/* margin-left:-4px; *//* margin-right: -4px; */margin: 0 auto;width: 1200px;}.eight{font-size:18px;}.none{display:none;}.clear{overflow:hidden;width:100%;clear:both;height:0;}.clear_table{border-collapse:collapse;padding:0;border:0;margin:0;}.wrap{max-width:1000px;margin:auto;position:relative;}.wrapper{margin:auto;padding-top:43px;position:relative;z-index:1;background-color: #23232D;}#main{min-height:100%;}* html #main{height:100%;}.background1{background-image:url(../images/theme/bg/bg1.png)/*tpa=http://steame.ru/themes/default/assets/images/theme/bg/bg1.png*/;background-color:#000;}.background2{background-image:url(../images/theme/bg/bg2.png)/*tpa=http://steame.ru/themes/default/assets/images/theme/bg/bg2.png*/;background-color:#010d0d;}.background3{background-image:url(../images/theme/bg/bg3.png)/*tpa=http://steame.ru/themes/default/assets/images/theme/bg/bg3.png*/;background-color:#000;}.background4{background-image:url(../images/theme/bg/bg4.png)/*tpa=http://steame.ru/themes/default/assets/images/theme/bg/bg4.png*/;}.background5{background-image:url(../images/theme/bg/bg5.png)/*tpa=http://steame.ru/themes/default/assets/images/theme/bg/bg5.png*/;background-color:#292a2f;}.background6{background-image:url(../images/theme/bg/bg6.png)/*tpa=http://steame.ru/themes/default/assets/images/theme/bg/bg6.png*/;background-color:#060201;}.background7{background-image:url(../images/theme/bg/bg7.png)/*tpa=http://steame.ru/themes/default/assets/images/theme/bg/bg7.png*/;background-color:#060201;}.background8{background-image:url(../images/theme/bg/bg8.png)/*tpa=http://steame.ru/themes/default/assets/images/theme/bg/bg8.png*/;background-color:#121b21;}#header.header1{background:url(../images/theme/head/header1.png)/*tpa=http://steame.ru/themes/default/assets/images/theme/head/header1.png*/ no-repeat;}#header.header2{background:url(../images/theme/head/header2.png)/*tpa=http://steame.ru/themes/default/assets/images/theme/head/header2.png*/ no-repeat;}#header.header3{background:url(../images/theme/head/header3.png)/*tpa=http://steame.ru/themes/default/assets/images/theme/head/header3.png*/ no-repeat;}#header.header4{background:url(../images/theme/head/header4.png)/*tpa=http://steame.ru/themes/default/assets/images/theme/head/header4.png*/ no-repeat;}#header.header5{background:url(../images/theme/head/header5.png)/*tpa=http://steame.ru/themes/default/assets/images/theme/head/header5.png*/ no-repeat;}#header.header6{/* background:url(../images/theme/head/header6.png)/*tpa=http://steame.ru/themes/default/assets/images/theme/head/header6.png*/ no-repeat; */}#header.header7{background:url(../images/theme/head/header7.png)/*tpa=http://steame.ru/themes/default/assets/images/theme/head/header7.png*/ no-repeat;}#header.header8{background:url(../images/theme/head/header8.png)/*tpa=http://steame.ru/themes/default/assets/images/theme/head/header8.png*/ no-repeat;}.click-bg{width:100%;height:100%;position:absolute;z-index:0;left:0;top:0;}#header{/* background:url(../images/theme/head/header1.png)/*tpa=http://steame.ru/themes/default/assets/images/theme/head/header1.png*/ no-repeat; */height:178px;/* width:1000px; */overflow:hidden;position:relative;margin:auto;}#slide-nav{background: #353543;position:fixed;height: 70px;width:100%;z-index:500;top:0;}.h-nav{height: 70px;float:left;overflow:hidden;width:670px;position:relative;}.h-nav li{float:left;height: 70px;line-height: 70px;border-right: 1px solid #2F2F3F;/* -webkit-box-shadow:1px 0 rgba(255,255,255,.05); */-moz-box-shadow:1px 0 rgba(255,255,255,.05);/* box-shadow:1px 0 rgba(255,255,255,.05); */}.h-nav li a{/* text-shadow:0px 0px 2px #292c30; */font-family: 'Roboto';font-size:16px;color:#fff;padding:0 16px;height: 70px;display:block;-webkit-transition:background .25s ease;-moz-transition:background .25s ease;-ms-transition:background .25s ease;-o-transition:background .25s ease;transition:background .25s ease;}.h-nav li:hover a{background-color: rgb(252, 193, 48);text-decoration: none;}.h-nav li.cur a{/* background-color: rgb(134, 92, 251); */text-shadow: 0px 0px 2px rgba(82, 141, 0, 0);text-decoration: none;}#h-search{width:326px;float:right;}.f-search{position:relative;height:34px;margin-top:5px;width:210px;float:left;margin-right:3px;overflow:hidden;}.f-search .field{background:#4c4e53 url(../images/hs-submit.png)/*tpa=http://steame.ru/themes/default/assets/images/hs-submit.png*/ no-repeat 95.5% 50%;border:none;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.25);-moz-box-shadow:0 1px 1px rgba(0,0,0,.25);box-shadow:0 1px 1px rgba(0,0,0,.25);width:208px;height:31px;position:relative;font-family:'Calibri';font-size:14px;color:#fff;padding:0;padding-left:10px;padding-right:35px;-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none;transition:none;}.f-search .field::-webkit-input-placeholder{color:#fff;}.f-search .field::-moz-placeholder{color:#fff;}.f-search .field:-moz-placeholder{color:#fff;}.f-search .field:-ms-input-placeholder{color:#fff;}.f-search .field:focus::-webkit-input-placeholder{color:inherit;}.f-search .field:focus::-moz-placeholder{color:inherit;}.f-search .field:focus:-moz-placeholder{color:inherit;}.f-search .field:focus:-ms-input-placeholder{color:inherit;}.f-search .field:focus{background-color:#fff;color:#000;}.f-search .submit{background:none;width:15px;height:15px;position:absolute;top:8px;right:14px;border:none;display:block;opacity:.5;-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none;transition:none;}.f-search .submit:hover{background:none;-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none;transition:none;}.submit2{background-image:url(../images/hs-submit2.png)/*tpa=http://steame.ru/themes/default/assets/images/hs-submit2.png*/!important;background-repeat:no-repeat!important;background-position:100% 0%!important;-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none;transition:none;}#h-alphabet{margin-top:5px;position:absolute;right:0;}#cat{float:left;margin-right:-2px;}#cat span{width:53px;height:31px;line-height:31px;-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;background-color:#5da000;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.25);-moz-box-shadow:0 1px 1px rgba(0,0,0,.25);box-shadow:0 1px 1px rgba(0,0,0,.25);float:left;cursor:pointer;margin:0 1px;text-align:center;color:#fff;-webkit-transition:background .25s ease;-moz-transition:background .25s ease;-ms-transition:background .25s ease;-o-transition:background .25s ease;transition:background .25s ease;}#cat span:last-child{margin-left:5px;margin-right:1px;}#cat span:hover{background-color:#f3484c;}#aplhabet{width:106px;position:absolute;right:58px;margin-top:35px;display:none;}#aplhabet.numb{right:0;}#aplhabet .arrow{width:8px;height:4px;float:right;margin-right:7px;border-left:8px solid transparent;border-right:8px solid transparent;border-bottom:4px solid rgba(14,14,14,.8);}#aplhabet .conteiner{padding:10px 13px;overflow:hidden;color:#fff;display:block;clear:both;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background-color:rgba(14,14,14,.8);}#aplhabet .conteiner a{color:#fff;width:16px;text-align:center;float:left;overflow:hidden;}#aplhabet .conteiner a:hover{color:#df4347;}.setting{overflow:hidden;position:fixed;top:100px;z-index:150;}.setting-but{background:url(../images/set.png)/*tpa=http://steame.ru/themes/default/assets/images/set.png*/ no-repeat 50% 50% rgba(0,0,0,.5);width:35px;height:35px;display:block;cursor:pointer;}.setting-in{background:rgba(0,0,0,.5);width:auto;height:auto;padding:10px;overflow:hidden;z-index:151;display:none;color:#fff;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}.set-list li{cursor:pointer;}.change-bg{overflow:hidden;width:120px;display:none;margin:-10px -5px;}.setting-in .advert{display:none;}.setting-in .advert span{cursor:pointer;}.change-bg span{font-size:15px;font-weight:700;color:#fff;margin:10px;display:block;}.change-bg ul li{float:left;margin:5px;cursor:pointer;-webkit-transition:opacity .25s ease;-moz-transition:opacity .25s ease;-ms-transition:opacity .25s ease;-o-transition:opacity .25s ease;transition:opacity .25s ease;}.change-bg ul li:hover{opacity:.5;}.change-bg ul li b{display:none;}#h-slider{background:rgba(0,0,0,.65);height:160px;padding:20px 10px;overflow:hidden;}.owl-carousel{overflow:hidden;height:160px;}.owl-item{background:#000 url(../images/loading.gif)/*tpa=http://steame.ru/themes/default/assets/images/loading.gif*/ no-repeat 50% 50%;width:225px!important;height:120px;float:left;margin:0 10px;overflow:hidden;position:relative;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.75);-moz-box-shadow:0 1px 1px rgba(0,0,0,.75);box-shadow:0 1px 1px rgba(0,0,0,.75);}.owl-item .info{position:absolute;width:225px;height:120px;overflow:hidden;background:rgba(83,141,3,.7);text-align:center;color:#fff;text-shadow:0px 0px 3px #282828;opacity:0;-webkit-transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;-ms-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out;transition:all .25s ease-in-out;}.owl-item:hover .info{opacity:1;}.owl-item img{width:225px;height:120px;}.owl-item .info .row{overflow:hidden;display:inline-block;font-family:'Calibri';text-align:center;margin-top:24px;margin-bottom:16px;color:#fff;}.owl-item .info .coast{font-size:36px;float:left;}.owl-item .info .price{font-size:22px;float:left;margin-left:6px;}.owl-item .info .title{display:block;font-size:16px;font-family:'Cuprum';color:#fff;}.owl-item.loading{min-height:120px;background:url(../images/loading2.gif)/*tpa=http://steame.ru/themes/default/assets/images/loading2.gif*/ no-repeat 50% 50%;}#container{overflow:hidden;/* padding:12px; */-webkit-border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px;}#h-tags{margin-bottom:4px;overflow:hidden;margin-top:5px;}#h-tags li a{float:left;margin-right:10px;margin-bottom:10px;color:#000;}#h-tags li:last-child a{margin-right:0;color:#a59999;}#h-tags li:nth-of-type(1) a{color:#000;font-weight:700;font-size:16px;line-height:1;}#h-tags li:nth-child(2n) a{color:#a59999;}#h-tags li:nth-child(3n) a{color:#000;font-size:17px;line-height:1;}#h-tags li:nth-of-type(17) a,#h-tags li:nth-of-type(21) a{text-transform:uppercase;font-weight:700;font-size:16px;line-height:1;}#c-cat{height:40px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background-color:#2d2f31;overflow:hidden;margin-bottom:12px;}#c-cat li{float:left;height:40px;line-height:40px;}#c-cat li a{padding:0 14px;text-transform:uppercase;font-family:'Arial';font-size:12px;text-transform:uppercase;color:#fff;height:40px;display:block;text-shadow:0px 0px 2px rgba(0,0,0,1);-webkit-transition:background .25s ease;-moz-transition:background .25s ease;-ms-transition:background .25s ease;-o-transition:background .25s ease;transition:background .25s ease;}#c-cat li:hover a{background-color:#5da000;text-shadow:0px 0px 2px rgba(70,120,0,1);}.side-left{float:left;width:188px;margin-right:8px;padding-right:4px;display: none;}.side-right{float:right;width:188px;margin-left:8px;display: none;}.side-left .c-item,.side-right .c-item{float:none;display:block;}.side-middle{margin:auto;overflow:hidden;padding-left: 0px;padding-right: 0px;color: #D2D2D2;}.block{width:188px;margin-bottom:8px;}.block:last-child{margin-bottom:0;}.block .block-top{overflow:hidden;line-height:33px;height:33px;padding-left:27px;padding-right:10px;color:#fff;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background:#5da000 url(../images/block-icn.png)/*tpa=http://steame.ru/themes/default/assets/images/block-icn.png*/ no-repeat 6% 50%;}.block .block-cont{margin:8px 0 0;}.b-nav{}.b-nav li{height:21px;line-height:21px;}.b-nav li a{height:21px;display:block;padding-left:18px;color: #E4E4E4;background:url(../images/b-nav.png)/*tpa=http://steame.ru/themes/default/assets/images/b-nav.png*/ no-repeat 4.5% 0%;}.b-nav li:hover a{-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background-color:#f3484c;background-position:4.5% 44%;color:#fff;}.c-detail{height:33px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background-color:#2d2f31;margin-bottom:12px;color:#fff;line-height:1.5;padding:6px 10px 6px 14px;position:relative;}.curency,.view-item{float:left;background:url(../images/dot-line.png)/*tpa=http://steame.ru/themes/default/assets/images/dot-line.png*/ no-repeat 100% 50%;height:21px;padding-right:11px;margin-right:12px;}.curency .lcol{margin-right:8px;}.curency a{background:#5da000;color:#fff;font-size:11px;padding:.7px 5px;float:left;margin-right:4px;margin-top:2px;-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;cursor:pointer;}.curency a:last-child{margin-right:0;}.curency a:hover,.curency a.cur{background:#f3484c;}.view-item .lcol{margin-right:7px;}.view-item .item-list,.view-item .item-block{background:url(../images/item-view.png)/*tpa=http://steame.ru/themes/default/assets/images/item-view.png*/ no-repeat 0 0;width:13px;height:13px;float:left;margin-top:4px;}.view-item .item-block{background-position:100% 0;margin-right:3px;}.view-item .item-list.cur,.view-item .item-list:hover{background-position:0 -13px;}.view-item .item-block:hover,.view-item .item-block.cur{background-position:100% 100%;}.sort{position:relative;float:right;}.sort .lcol{margin-right:8px;}.sort .sort-name{font-size:11px;float:right;width:79px;height:17px;-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;background:#5da000;line-height:17px;color:#fff;text-align:center;margin-top:2px;cursor:pointer;}.sort .sort-list{position:absolute;right:0;width:79px;-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;background:rgba(0,0,0,.8);z-index:10;margin-top:19px;display:none;}.sort .sort-list li{height:17px;line-height:17px;}.sort .sort-list li a{color:#fff;font-size:11px;padding:0 6px;height:17px;display:block;cursor:pointer;}.sort .sort-list li:hover a{background:#f3484c;}.b-item,.c-item{display:block;height: 266px;width: 185px;position:relative;margin-bottom:12px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius: 3px;padding: 1px;}.b-item img,.c-item .img,.c-item .img img{-webkit-border-radius:2px;-moz-border-radius:2px;border-radius: 25px 0px 0px 5px;width: 185px;height: 266px;z-index: -2;}.c-item{float:left;margin-right: 10px;}.c-item.list{width:564px;}.c-item:nth-child(3n){margin-right: 10;/* padding: 5px; */}.b-item .coast,.b-item .stock,.c-item .coast,.c-item .stock{position: absolute;width: auto;    height: 31px;    -webkit-border-radius: 15px 16px 16px 15px/15px 15px 16px 16px;    -moz-border-radius: 15px 16px 16px 15px/15px 15px 16px 16px;    border-radius: 15px 16px 16px 15px/15px 15px 16px 16px;    background-color: rgba(104, 145, 24, 1);    -webkit-box-shadow: 0 0 18px rgba(89,144,36,.17);    -moz-box-shadow: 0 0 18px rgba(89,144,36,.17);    box-shadow: 0 0 18px rgba(89, 144, 36, 0.67);    border: solid 2px #75a519;    font-size: 15px;    text-transform: uppercase;    color: #fdfcfc;            right: -15px;    -moz-border-radius:2px;color:#fff;padding:3px 5px;z-index: 2;}.b-item .coast b,.c-item .coast b{font-weight:100;}.b-item .stock,.c-item .stock{background-color: #875EFB;right: -5;width: 50px;box-shadow: 0 0 18px rgba(134, 92, 251, 1);    border: solid 2px #865CFB;margin-top: 30px;z-index: 0;border-radius: 50px 0px 50px 50px;}.b-item .title,.c-item .title{position:absolute;bottom: -5;right: -5px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius: 10px 50px 10px 50px;background-color: rgba(252, 193, 48, 1);font-size: 14px;color: #23232D;height:20px;line-height:20px;padding:0 5px;max-width:192px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin: 0 auto;font-weight: 500;}.b-item:hover .title,.c-item:hover .title{background-color: #875EFB;color: #fff;}.b-item .title a,.c-item .title a,.b-item a{color:#fff;}.c-item .cat{position:absolute;display:none;top:22px;right:80px;z-index:100;width:35px;margin-right:30px;text-align:center;}.c-item.list .cat{display:block;}.c-item.list .cat b{display:block;height:17px;}.c-item .cat .steam{background:url(../images/cat/steam.png)/*tpa=http://steame.ru/themes/default/assets/images/cat/steam.png*/ no-repeat 50% 50%;}.c-item .cat .origin{background:url(../images/cat/origin.png)/*tpa=http://steame.ru/themes/default/assets/images/cat/origin.png*/ no-repeat 50% 50%;}.c-item .cat .uplay{background:url(../images/cat/uplay.png)/*tpa=http://steame.ru/themes/default/assets/images/cat/uplay.png*/ no-repeat 50% 50%;}.c-item .cat .battle{background:url(../images/cat/battle.png)/*tpa=http://steame.ru/themes/default/assets/images/cat/battle.png*/ no-repeat 50% 50%;}.c-item .cat .ea{background:url(../images/cat/ea.png)/*tpa=http://steame.ru/themes/default/assets/images/cat/ea.png*/ no-repeat 50% 50%;}.c-item .cat .xbox{background:url(../images/cat/xbox.png)/*tpa=http://steame.ru/themes/default/assets/images/cat/xbox.png*/ no-repeat 50% 50%;}.c-item.list .avail{position:absolute;top:15px;right:105px;z-index:100;width:35px;width:70px;overflow:hidden;text-align:center;}.c-item.list .avail b{width:12px;height:12px;display:block;margin:auto;}.c-item.list .avail b.good{background:url(../images/good.png)/*tpa=http://steame.ru/themes/default/assets/images/good.png*/ no-repeat;}.c-item.list .avail b.bad{background:url(../images/bad.png)/*tpa=http://steame.ru/themes/default/assets/images/bad.png*/ no-repeat;}.c-item.list{width:574px;float:none;display:block;background:#fff;height:60px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background-color:#fff;-webkit-box-shadow:0 2px 4px rgba(0,0,0,.15);-moz-box-shadow:0 2px 4px rgba(0,0,0,.15);box-shadow:0 2px 4px rgba(0,0,0,.15);border:solid 1px rgba(225,225,225,1);border-top:none;}.c-item.list:hover{background-color:#ecf0f1;}.c-item.list .img{width:128px;height:59px;overflow:hidden;float:left;position:relative;-webkit-border-radius:2px 0 0 2px;-moz-border-radius:2px 0 0 2px;border-radius:2px 0 0 2px;}.c-item.list .stock{left:0;right:auto;float:left;z-index:20;}.c-item.list .title{background:none;color:#383838;font-size:16px;margin-left:140px;margin-top:20px;left:0;top:0;max-width:270px;}.c-item.list .title a{color:#383838;}.c-item.list .coast{font-size:18px;right:0;float:right;background:none;color:#383838;margin-top:7px;border-left:1px solid #e5e5e5;width:92px;text-align:center;padding:9px 0;}.c-item.list .coast b{position:relative;top:-7px;font-size:11px;}.c-item.list .coast .stock-color{font-weight:100;font-size:18px;color:#f12e33;font-style:normal;}#contacts li{display:block;font-family:'tahoma';font-size:13px;color:#383838;height:13px;line-height:13px;margin-bottom:8px;padding-left:7px;}#contacts li a{color: #EBEBEB;}#contacts b{background:url(../images/contacts.png)/*tpa=http://steame.ru/themes/default/assets/images/contacts.png*/ no-repeat 5% 0%;height:13px;line-height:13px;float:left;padding-left:20px;}#contacts .skype{background-position:5% 0%;}#contacts .vk{background-position:5% 34%;}#contacts .icq{background-position:5% 66%;}#contacts .mail{background-position:5% 100%;}.all-sell{background:url(../images/all-view.png)/*tpa=http://steame.ru/themes/default/assets/images/all-view.png*/ no-repeat;width:34px;height:33px;float:right;margin-right:-10px;}.all-sell:hover{opacity:.7;}.client-info{overflow:hidden;display:block;margin-bottom:10px;}.client-info .num{font-family:'Open Sans';font-weight:300;font-size:11px;width:20px;height:20px;line-height:20px;float:left;color:#fff;text-align:center;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;}.client-info:nth-of-type(1) .num{background-color:#f09f12;}.client-info:nth-of-type(2) .num{background-color:#8f8f8f;}.client-info:nth-of-type(3) .num{background-color:#6e3b19;}.client-info .msg{line-height:1;font-size:12px;color: #F3F3F3;margin-left:25px;}.b-news li{display:block;margin-bottom:5px;width:180px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}.b-news li a{background:url(../images/b-nav.png)/*tpa=http://steame.ru/themes/default/assets/images/b-nav.png*/ no-repeat 4% 85%;padding-left:17px;color:#454545;}.b-news li a:hover,.all-sell:hover,.set-list li:hover,.pay-capt a:hover,.all-entry:hover,.news-item a.link:hover,.news-item a:hover,#footer .f-nav li a:hover,#sb-counter a.sb-counter-current,#h-tags li:hover a,#contacts li:hover a,.publication a:hover,.garant-loop a:hover,.news-item .text a:hover,.buy-view a:hover,#contacts li:hover,.default li a:hover{text-decoration: none;}.b-news li span{color:#979797;display:block;font-size:12px;margin-left:5px;margin-top:2px;}.all-entry{font-size:13px;color:#383838;}.terminal li{overflow:hidden;margin-bottom:8px;}.bicn{width:33px;float:left;min-height:35px;margin-top:2px;margin-right:8px;background:url(../images/terminal.png)/*tpa=http://steame.ru/themes/default/assets/images/terminal.png*/ no-repeat;}.bicn.webmoney{background-position:0 0;}.bicn.yandexmoney{background-position:0 -55px;}.bicn.qiwi{background-position:0 -110px;}.bicn.terminal{background-position:0 -165px;}.icn{width:33px;float:left;min-height:35px;margin-right:8px;}.icn.webmoney{background:url(../images/pay/webmoney.png)/*tpa=http://steame.ru/themes/default/assets/images/pay/webmoney.png*/ no-repeat 0 50%;}.icn.yandexmoney{background:url(../images/pay/yandex.png)/*tpa=http://steame.ru/themes/default/assets/images/pay/yandex.png*/ no-repeat 0 50%;height:50px;}.icn.qiwi{background:url(../images/pay/qiwi.png)/*tpa=http://steame.ru/themes/default/assets/images/pay/qiwi.png*/ no-repeat 0 50%;}.icn.terminal{background:url(../images/pay/terminal.png)/*tpa=http://steame.ru/themes/default/assets/images/pay/terminal.png*/ no-repeat 0 50%;height:50px;}.icn.alphabank{background:url(../images/pay/alfabank.png)/*tpa=http://steame.ru/themes/default/assets/images/pay/alfabank.png*/ no-repeat 0 50%;height:50px;}.icn.easypay{background:url(../images/pay/easypay.png)/*tpa=http://steame.ru/themes/default/assets/images/pay/easypay.png*/ no-repeat 0 50%;height:50px;}.icn.vtb24{background:url(../images/pay/vtb24.png)/*tpa=http://steame.ru/themes/default/assets/images/pay/vtb24.png*/ no-repeat 0 50%;height:50px;}.icn.beeline{background:url(../images/pay/beeline.png)/*tpa=http://steame.ru/themes/default/assets/images/pay/beeline.png*/ no-repeat 0 50%;}.icn.mts{background:url(../images/pay/mts.png)/*tpa=http://steame.ru/themes/default/assets/images/pay/mts.png*/ no-repeat 0 50%;}.icn.megafon{background:url(../images/pay/megafon.png)/*tpa=http://steame.ru/themes/default/assets/images/pay/megafon.png*/ no-repeat 0 50%;}.icn.visa{background:url(../images/pay/visa.png)/*tpa=http://steame.ru/themes/default/assets/images/pay/visa.png*/ no-repeat 0 50%;}.icn.mastercard{background:url(../images/pay/mastercard.png)/*tpa=http://steame.ru/themes/default/assets/images/pay/mastercard.png*/ no-repeat 0 50%;}.icn.tele2{background:url(../images/pay/tele2.png)/*tpa=http://steame.ru/themes/default/assets/images/pay/tele2.png*/ no-repeat 0 50%;}.icn.mailmoney{background:url(../images/pay/mailmoney.png)/*tpa=http://steame.ru/themes/default/assets/images/pay/mailmoney.png*/ no-repeat 0 50%;}.icn.stamp{background:url(../images/pay/stamp.png)/*tpa=http://steame.ru/themes/default/assets/images/pay/stamp.png*/ no-repeat 0 50%;height:50px;}.icn.gift{background:url(../images/pay/present.png)/*tpa=http://steame.ru/themes/default/assets/images/pay/present.png*/ no-repeat 0 50%;height:50px;}.icn.wmcard{background:url(../images/pay/wmcard.png)/*tpa=http://steame.ru/themes/default/assets/images/pay/wmcard.png*/ no-repeat 0 50%;}.icn.other{background:url(../images/pay/other.png)/*tpa=http://steame.ru/themes/default/assets/images/pay/other.png*/ no-repeat 0 50%;}.payment-mail{float:left;width:200px;margin-top:5px;border:1px solid #e5e5e5;padding:10px 15px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;margin-right:-150px;}.payment-mail::-webkit-input-placeholder{color:#383838!important;}.payment-mail::-moz-placeholder{color:#383838!important;}.payment-mail:-moz-placeholder{color:#383838!important;}.payment-mail:-ms-input-placeholder{color:#383838!important;}.terminal li .name{color:#383838;display:block;line-height:1;}.terminal li .capt{font-size:10px;display:block;color:#757575;line-height:1.2;width:144px;float:right;}.steam,.origin{height:33px;line-height:33px;overflow:hidden;color:#fff;padding:0 9px 0 29px;display:block;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background:url(../images/client.png)/*tpa=http://steame.ru/themes/default/assets/images/client.png*/ no-repeat 5% 50%;}.steam:hover,.origin:hover{opacity:.8;}.steam{background-color:#449c03;margin-bottom:4px;}.origin{background-color:#ef5a21;}.steam span,.origin span{float:right;font-size:10px;line-height:1;margin-top:7px;}.steam span i,.origin span i{display:block;font-style:normal;}.speedbar{display:block;overflow:hidden;line-height:1;margin-bottom:12px;border-bottom: 3px solid #353543;padding-bottom:10px;background-color: #2E2E38;padding: 15px;border-radius: 0px 50px 50px 50px;}.speedbar .home{background:url(../images/home.png)/*tpa=http://steame.ru/themes/default/assets/images/home.png*/ no-repeat 0 50%;padding-left:30px;height:12px;float:left;line-height:12px;padding-right:0;margin-right:0;}.speedbar a{background:url(../images/speedbar.png)/*tpa=http://steame.ru/themes/default/assets/images/speedbar.png*/ no-repeat 100% 50%;padding-right:11px;margin-right:4px;color:#383838;}.garant-loop{overflow:hidden;padding:12px 15px 12px 0;border-bottom:1px solid #e6e6e6;display:block;}.garant-loop a{color:#5da000;}.garant-loop .icon{background:url(../images/garant.png)/*tpa=http://steame.ru/themes/default/assets/images/garant.png*/ no-repeat;width:38px;height:38px;float:left;}.garant-loop .cont{margin-left:52px;}.publication{word-wrap:break-word;white-space:pre;padding:0 8px 8px;}.f1{color:#5da000;}.response-form{padding-bottom:12px;border-bottom:1px solid #e6e6e6;overflow:hidden;margin-bottom:12px;}.response-form .row{width:286px;float:left;margin-bottom:8px;}.response-form .row input{height:33px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background-color:#f4f4f4;border:none;color:#595959;}.response-form textarea{min-height:108px;}.captcha{overflow:hidden;height:33px;float:left;}.captcha .view-captcha{width:75px;height:33px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background-color:#ee8689;color:#fff;text-align:center;line-height:33px;float:left;margin-right:8px;position:relative;overflow:hidden;-ms-user-select:none;-moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none;}.captcha .write-captcha{float:left;width:99px;height:33px;text-align:center;}.captcha .view-captcha .secure{width:75px;height:33px;position:absolute;background:#000;opacity:0;overflow:hidden;z-index:999;}.submit-form{width:87px;float:right;padding:0;}.response-loop{position:relative;overflow:hidden;margin-bottom:12px;}.response-cont{background:#f4f4f4;padding:10px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;position:relative;color:#595959;}.response-arrow{background:url(../images/response-arrow.png)/*tpa=http://steame.ru/themes/default/assets/images/response-arrow.png*/ no-repeat;width:9px;height:6px;display:block;margin-left:20px;margin-bottom:5px;}.green{color: #FCC130;}.response-loop .rcol{color:#777;font-size:12px;}.view-tols{overflow:hidden;margin-top:10px;margin-bottom:10px;}.view-tols .tols{overflow:hidden;}.view-tols .tols img{vertical-align:middle;margin-right:3px;}.view-tols .tols span{color:#f12e33;}.stock-img{position:absolute;right:0;top:0;z-index:10;background:url(../images/stock.png)/*tpa=http://steame.ru/themes/default/assets/images/stock.png*/ no-repeat;width:30px;height:30px;margin-top:-5px;margin-right:-5px;}.stock-box{width:575px;}.item-view{height: 282px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius: 3px 10px 10px 3px;background: rgba(53, 53, 67, 1);overflow:hidden;position:relative;color:#fff;margin-bottom:10px;}.item-view .green{color:#73c600;}.item-view .poster{width: 600px;height: 282px;float:left;position:relative;overflow:hidden;}.item-view .poster .title{position: absolute;bottom: 0px;height: 50px;-moz-border-radius:2px;background: rgba(21, 21, 27, 0.73);color:#fff;padding: 10 10px;font-size: 20px;line-height:32px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width: 100%;z-index: 99999;}.item-view .item-sub{width: 350px;float:left;margin-top: 30px;}.item-view .item-sub li{margin-top:7px;padding-left:18px;padding-bottom:7px;line-height:1;background:url(../images/item-type.png)/*tpa=http://steame.ru/themes/default/assets/images/item-type.png*/ no-repeat 0 bottom;}.item-order{background:url(../images/good.png)/*tpa=http://steame.ru/themes/default/assets/images/good.png*/ no-repeat 0 40%;padding-left:16px;color:#fff;display:block;}.item-order-b{background:url(../images/bad.png)/*tpa=http://steame.ru/themes/default/assets/images/bad.png*/ no-repeat 0 40%;padding-left:16px;color:#fff;display:block;}.item-view li.item-type{width:201px;margin-top:-26px;margin-bottom:3px;margin-left:-17px;padding-bottom:12px;}.item-view li.item-type span{-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background:#f3484c;margin-left:18px;padding:2px 7px;font-size:14px;}.item-view .item-detail{width:167px;float:left;margin-top: 10px;margin-left:18px;}.item-view .item-detail .price{color:#fff;font-size:36px;font-weight:700;font-family:'Arial';text-align:right;margin-right:25px;margin-bottom:12px;}.item-view .item-detail .price span{font-weight:100;font-size:18px;line-height:18px;position:relative;top:-16px;}.item-view .item-detail .saving{height:23px;display:block;text-align:right;}.item-view .item-detail .saving span{-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background:#f09f12;padding:3px 7px;font-weight:700;margin-left:5px;}.item-view .item-detail .saving span b{position:relative;top:-4px;font-size:11px;font-weight:100;}.item-view .item-detail .buying{margin-top:13px;}.buying{background: #ff7200 url(../images/buying-norm.png)/*tpa=http://steame.ru/themes/default/assets/images/buying-norm.png*/ no-repeat 85% 50%!important;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius: 50px;height:48px;width:167px;margin:auto;display:block;color:#fff;font-family: 'Roboto';font-size:16px;overflow:hidden;}.buying:hover{background:#f09f12 url(../images/buying-h.png)/*tpa=http://steame.ru/themes/default/assets/images/buying-h.png*/ no-repeat 85% 50%!important;}.buying b{display:block;width:110px;text-align:center;margin-top:14px;text-decoration: none;}button.buying{margin-top:12px;}button.buying b{margin-top:0;}.bx-viewport,.bx-wrapper{height:80px;position:relative;overflow:hidden;}.bx-wrapper .bx-prev,.bx-wrapper .bx-next{background:url(../images/arrow.png)/*tpa=http://steame.ru/themes/default/assets/images/arrow.png*/ no-repeat;width:32px;height:32px;display:block;position:absolute;opacity:.7;top:24px;margin-left:16px;margin-right:16px;cursor:pointer;}.bx-wrapper .bx-next{right:0;background-position:0 -32px;}.bx-wrapper .bx-prev.disabled,.bx-wrapper .bx-next.disabled{display:none;}.bx-wrapper img{height:80px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;width:148px;}.tab-nav{height:29px;overflow:hidden;margin-bottom:8px;margin-top:20px;}.tab-nav li{float:left;height:29px;padding:0 10px;line-height:29px;margin-right:12px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;cursor:pointer;}.tab-nav li span{border-bottom:1px dotted #adadad;}.tab-nav li.cur,.tab-nav li.cur:hover{background:#5da000;color:#fff;}.tab-nav li.cur span,.tab-nav li:hover span{border-bottom:none;}.tab-nav li:hover{background:#f09f12;color:#fff;}.tab-box{display:none;color: #E8E8E8;overflow:hidden;border-bottom: 5px solid #353543;padding:10px;margin-bottom:20px;position:relative;background-color: #282834;}.tab-box .frame{display:none;visibility:hidden;}.pre{white-space:pre;}.tab-box.cur,.tab-box.cur .frame{visibility:visible;display:block;}.tab-box .garant-loop:last-child{border-bottom:none;}.buy-item{padding:0 10px;}.buy-view{margin:5px 0 0;}.buy-view span,.disc-view h4{color:#fff;background:#f3484c;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;padding:3px 8px;display:inline-block;overflow:hidden;margin:5px 0;}.buy-view .text{display:block;margin:0px 0 5px;}.buy-view img{margin-bottom:6px;}.paginator{overflow:hidden;width:100%;margin:12px 0;padding-top:12px;border-top:1px solid #e6e6e6;}.paginator li{float:left;background-color:#f4f4f4;color:#8c8c8c;padding:4px 10px;margin-right:4px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;cursor:pointer;}.paginator li:hover{background-color:rgba(243,72,73,.7);color:#fff;}.paginator li.cur{background-color:#5da000;color:#fff;}.paginator li a{color:#8c8c8c;}.paginator li:hover a,.paginator li.cur a{color:#fff;}.rangelink{display:block;padding:3px 10px;text-align:center;color:#fff;background-color:#5da000;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;margin-top:10px;}.rangelink:hover{background-color:#7db82b;}#comments .all-com{background-color:#5da000;color:#fff;padding:6px 10px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;margin-bottom:8px;}.comments-form{border-bottom:1px solid #e6e6e6;padding-bottom:12px;margin-bottom:12px;overflow:hidden;}.comments-form .row{width:385px;float:left;margin-bottom:8px;}.news-item{border-bottom:1px solid #e6e6e6;padding-bottom:12px;margin-bottom:12px;overflow:hidden;}.news-item .poster{width:37px;height:37px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background-color:#757575;float:left;overflow:hidden;margin-right:10px;}.news-item .poster img{width:37px;height:37px;}.news-item a.link{display:block;}.news-item span{color:#757575;display:block;}.news-item .text{overflow:hidden;display:block;margin-top:12px;}.order-view{border-bottom:1px solid #e6e6e6;padding-top:12px;padding-bottom:12px;overflow:hidden;position:relative;display:block;}.order-view .radio{width:12px;margin-right:15px;vertical-align:middle;position:relative;overflow:hidden;}.order-view .radio input{position:absolute;top:50%;left:0;width:12px;height:12px;}.order-view .icon{width:32px;margin-right:15px;}.order-view .text{width:465px;}.order-view .icon{width:70px!important;margin-right:10px;}.icon .icn{width:70px;max-height:50px;display:block;margin:auto!important;text-align:center!important;background-position:50% 50%!important;}.pay-capt{padding:12px;text-align:center;border-bottom:1px solid #e6e6e6;}.disc-view{padding-right:8px;padding-left:8px;padding-bottom:12px;margin-bottom:12px;border-bottom:1px solid #e6e6e6;}.disc-view.discont{background:url(../images/discount.png)/*tpa=http://steame.ru/themes/default/assets/images/discount.png*/ no-repeat 100% 55%;padding-right:192px;}.disc-view.d-tbl .capt{padding:0 110px;}.disc-view .capt{display:block;}.disc-table{}.disc-table li{display:block;overflow:hidden;background:url(../images/dott.png)/*tpa=http://steame.ru/themes/default/assets/images/dott.png*/ repeat-x 0 50%;}.disc-table li .money{float:left;width:71px;background:#fff;}.disc-table li .percent{float:right;width:59px;text-align:right;background:#fff;}.h-logo{background:url(../images/h-logo.png)/*tpa=http://steame.ru/themes/default/assets/images/h-logo.png*/ no-repeat;width: 100%;height: 280px;float:left;}.logo{background:url(../images/logo.png)/*tpa=http://steame.ru/themes/default/assets/images/logo.png*/ no-repeat 0 0;height:70px;float:right;margin-top:-20px;position:relative;z-index:10;-webkit-transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;-ms-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out;transition:all .25s ease-in-out;}.logo:hover{background-position:1.8px 1.95px;}.logo-l{background:url(../images/logo-l.png)/*tpa=http://steame.ru/themes/default/assets/images/logo-l.png*/ no-repeat;width:74px;height:70px;float:left;position:absolute;z-index:100;}.logo:hover .logo-l{-webkit-animation:rotalogo 1.35s linear infinite;-moz-animation:rotalogo 1.35s linear infinite;-ms-animation:rotalogo 1.35s linear infinite;-o-animation:rotalogo 1.35s linear infinite;animation:rotalogo 1.35s linear infinite;}.logo .logo-t{background:url(../images/logo-t.png)/*tpa=http://steame.ru/themes/default/assets/images/logo-t.png*/ no-repeat;width:155px;height:47px;display:block;margin-top:14px;margin-left:90px;}#footer{padding:0 15px;overflow:hidden;}#footer .f-nav{margin-bottom:15px;display:block;overflow:hidden;}#footer .f-nav li{float:left;}#footer .f-nav li a{color:#fff;margin-right:24px;text-decoration: none;}#footer .caption{color:#cfcfcf;width:480px;float:left;margin-bottom:20px;}#footer .rcount{background:url(../images/rcount.png)/*tpa=http://steame.ru/themes/default/assets/images/rcount.png*/ no-repeat;padding-left:30px;float:left;}#footer .rcount a{margin-right:10px;}#footer .logo{margin-top:-30px;}#preload{background:rgba(0,0,0,.9);width:100%;height:100%;display:block;position:fixed;z-index:1000;}#preload .logo{float:none;margin:0;width:74px;background:none;}#preload .logo-l{-webkit-animation:rotalogo 1.35s linear infinite;-moz-animation:rotalogo 1.35s linear infinite;-ms-animation:rotalogo 1.35s linear infinite;-o-animation:rotalogo 1.35s linear infinite;animation:rotalogo 1.35s linear infinite;}#preload .prel-text{color:#fff;margin-top:80px;margin-left:6px;}.bokeh{font-size:100px;width:1em;height:1em;position:relative;position:absolute;top:50%;left:50%;margin:-.5em 0 0 -.5em;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;border:.01em solid rgba(150,150,150,0.1);list-style:none;}.bokeh li{position:absolute;width:.2em;height:.2em;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}.bokeh li:nth-child(1){left:50%;top:0;margin:0 0 0 -.1em;background:#00C176;-webkit-transform-origin:50% 250%;-moz-transform-origin:50% 250%;-ms-transform-origin:50% 250%;-o-transform-origin:50% 250%;transform-origin:50% 250%;-webkit-animation:rota 1.13s linear infinite,opa 3.67s ease-in-out infinite alternate;-moz-animation:rota 1.13s linear infinite,opa 3.67s ease-in-out infinite alternate;-ms-animation:rota 1.13s linear infinite,opa 3.67s ease-in-out infinite alternate;-o-animation:rota 1.13s linear infinite,opa 3.67s ease-in-out infinite alternate;animation:rota 1.13s linear infinite,opa 3.67s ease-in-out infinite alternate;}.bokeh li:nth-child(2){top:50%;right:0;margin:-.1em 0 0 0;background:#FF003C;-webkit-transform-origin:-150% 50%;-moz-transform-origin:-150% 50%;-ms-transform-origin:-150% 50%;-o-transform-origin:-150% 50%;transform-origin:-150% 50%;-webkit-animation:rota 1.86s linear infinite,opa 4.29s ease-in-out infinite alternate;-moz-animation:rota 1.86s linear infinite,opa 4.29s ease-in-out infinite alternate;-ms-animation:rota 1.86s linear infinite,opa 4.29s ease-in-out infinite alternate;-o-animation:rota 1.86s linear infinite,opa 4.29s ease-in-out infinite alternate;animation:rota 1.86s linear infinite,opa 4.29s ease-in-out infinite alternate;}.bokeh li:nth-child(3){left:50%;bottom:0;margin:0 0 0 -.1em;background:#FABE28;-webkit-transform-origin:50% -150%;-moz-transform-origin:50% -150%;-ms-transform-origin:50% -150%;-o-transform-origin:50% -150%;transform-origin:50% -150%;-webkit-animation:rota 1.45s linear infinite,opa 5.12s ease-in-out infinite alternate;-moz-animation:rota 1.45s linear infinite,opa 5.12s ease-in-out infinite alternate;-ms-animation:rota 1.45s linear infinite,opa 5.12s ease-in-out infinite alternate;-o-animation:rota 1.45s linear infinite,opa 5.12s ease-in-out infinite alternate;animation:rota 1.45s linear infinite,opa 5.12s ease-in-out infinite alternate;}.bokeh li:nth-child(4){top:50%;left:0;margin:-.1em 0 0 0;background:#88C100;-webkit-transform-origin:250% 50%;-moz-transform-origin:250% 50%;-ms-transform-origin:250% 50%;-o-transform-origin:250% 50%;transform-origin:250% 50%;-webkit-animation:rota 1.72s linear infinite,opa 5.25s ease-in-out infinite alternate;-moz-animation:rota 1.72s linear infinite,opa 5.25s ease-in-out infinite alternate;-ms-animation:rota 1.72s linear infinite,opa 5.25s ease-in-out infinite alternate;-o-animation:rota 1.72s linear infinite,opa 5.25s ease-in-out infinite alternate;animation:rota 1.72s linear infinite,opa 5.25s ease-in-out infinite alternate;}@-webkit-keyframes rota{to{-webkit-transform:rotate(360deg);}}@-moz-keyframes rota{to{-moz-transform:rotate(360deg);}}@-ms-keyframes rota{to{-ms-transform:rotate(360deg);}}@-o-keyframes rota{to{-o-transform:rotate(360deg);}}@keyframes rota{to{transform:rotate(360deg);}}@-webkit-keyframes rotalogo{to{-webkit-transform:rotate(-360deg);}}@-moz-keyframes rotalogo{to{-moz-transform:rotate(-360deg);}}@-ms-keyframes rotalogo{to{-ms-transform:rotate(-360deg);}}@-o-keyframes rotalogo{to{-o-transform:rotate(-360deg);}}@keyframes rotalogo{to{transform:rotate(-360deg);}}@-webkit-keyframes opa{12.0%{opacity:0.80;}
19.5%{opacity:0.88;}
37.2%{opacity:0.64;}
40.5%{opacity:0.52;}
52.7%{opacity:0.69;}
60.2%{opacity:0.60;}
66.6%{opacity:0.52;}
70.0%{opacity:0.63;}
79.9%{opacity:0.60;}
84.2%{opacity:0.75;}
91.0%{opacity:0.87;}
}
@-moz-keyframes opa{12.0%{opacity:0.80;}
19.5%{opacity:0.88;}
37.2%{opacity:0.64;}
40.5%{opacity:0.52;}
52.7%{opacity:0.69;}
60.2%{opacity:0.60;}
66.6%{opacity:0.52;}
70.0%{opacity:0.63;}
79.9%{opacity:0.60;}
84.2%{opacity:0.75;}
91.0%{opacity:0.87;}
}
@-ms-keyframes opa{12.0%{opacity:0.80;}
19.5%{opacity:0.88;}
37.2%{opacity:0.64;}
40.5%{opacity:0.52;}
52.7%{opacity:0.69;}
60.2%{opacity:0.60;}
66.6%{opacity:0.52;}
70.0%{opacity:0.63;}
79.9%{opacity:0.60;}
84.2%{opacity:0.75;}
91.0%{opacity:0.87;}
}
@-o-keyframes opa{12.0%{opacity:0.80;}
19.5%{opacity:0.88;}
37.2%{opacity:0.64;}
40.5%{opacity:0.52;}
52.7%{opacity:0.69;}
60.2%{opacity:0.60;}
66.6%{opacity:0.52;}
70.0%{opacity:0.63;}
79.9%{opacity:0.60;}
84.2%{opacity:0.75;}
91.0%{opacity:0.87;}
}
@keyframes opa{12.0%{opacity:0.80;}
19.5%{opacity:0.88;}
37.2%{opacity:0.64;}
40.5%{opacity:0.52;}
52.7%{opacity:0.69;}
60.2%{opacity:0.60;}
66.6%{opacity:0.52;}
70.0%{opacity:0.63;}
79.9%{opacity:0.60;}
84.2%{opacity:0.75;}
91.0%{opacity:0.87;}
}
#tooltip{background:rgba(0,0,0,.7);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;position:absolute;padding:2px 5px 0;z-index:900;}
#tooltip h3{font-size:14px;color:#fff;padding:0;}
#sb-title-inner, #sb-info-inner, #sb-loading-inner, div.sb-message{font-family:'Calibri';font-weight:200;color:#fff;}
#sb-container{position:fixed;margin:0;padding:0;top:0;left:0;z-index:999999;text-align:left;visibility:hidden;display:none;}
#sb-overlay{position:relative;height:100%;width:100%;}
#sb-wrapper{position:absolute;visibility:hidden;width:100px;}
#sb-wrapper-inner{position:relative;border:1px solid #303030;overflow:hidden;height:100px;}
#sb-body{position:relative;height:100%;}
#sb-body-inner{position:absolute;height:100%;width:100%;}
#sb-player.html{height:100%;overflow:auto;}
#sb-body img{border:none;height:100%;width:100%;}
#sb-loading{position:relative;height:100%;}
#sb-loading-inner{position:absolute;font-size:14px;line-height:24px;height:24px;top:50%;margin-top:-12px;width:100%;text-align:center;}
#sb-loading-inner span{background:url(../images/gallery/loading.gif)/*tpa=http://steame.ru/themes/default/assets/images/gallery/loading.gif*/ no-repeat;padding-left:34px;display:inline-block;}
#sb-body, #sb-loading{background-color:#060606;}
#sb-title, #sb-info{position:relative;margin:0;padding:0;overflow:hidden;}
#sb-title, #sb-title-inner{height:26px;line-height:26px;}
#sb-title-inner{font-size:16px;}
#sb-info, #sb-info-inner{height:20px;line-height:20px;}
#sb-info-inner{font-size:12px;}
#sb-nav{float:right;height:16px;padding:2px 0;width:45%;}
#sb-nav a{display:block;float:right;height:16px;width:16px;margin-left:3px;cursor:pointer;background-repeat:no-repeat;}
#sb-nav-close{background-image:url(../images/gallery/close.png)/*tpa=http://steame.ru/themes/default/assets/images/gallery/close.png*/;}
#sb-nav-next{background-image:url(../images/gallery/next.png)/*tpa=http://steame.ru/themes/default/assets/images/gallery/next.png*/;}
#sb-nav-previous{background-image:url(../images/gallery/previous.png)/*tpa=http://steame.ru/themes/default/assets/images/gallery/previous.png*/;}
#sb-nav-play{background-image:url(../images/gallery/play.png)/*tpa=http://steame.ru/themes/default/assets/images/gallery/play.png*/;}
#sb-nav-pause{background-image:url(../images/gallery/pause.png)/*tpa=http://steame.ru/themes/default/assets/images/gallery/pause.png*/;}
#sb-counter{float:left;width:45%;}
#sb-counter a{padding:0 4px 0 0;text-decoration:none;cursor:pointer;color:#fff;}
div.sb-message{font-size:12px;padding:10px;text-align:center;}
div.sb-message a:link,div.sb-message a:visited{color:#fff;text-decoration:underline;}
#slider-place{height:15px;width:188px;padding:0;position:relative;margin:0;background:url(../images/price-bg.png)/*tpa=http://steame.ru/themes/default/assets/images/price-bg.png*/ no-repeat;}
#slider-place .slider{width:155px;height:6px;position:relative;left:0;top:8px;}
#slider-place .ui-slider-handle{position:absolute;display:block;width:32px;height:8px;background:url(../images/price-nav.png)/*tpa=http://steame.ru/themes/default/assets/images/price-nav.png*/ 0 0 no-repeat;}
#amount{background-color:transparent;height:auto;width:28px;text-align:center;color:#fff;margin:-3px 0 0 0;padding:0;display:inline-block;}
.sale {
  position: absolute;
  padding: 5px 15px 3px 15px;
  color: #fff;
  margin-left: 113px;
  background: rgba(13, 15, 18, 0.81);
  text-align: right;
}
.c-item:hover {
   opacity: .9;
  filter: alpha(opacity=60);
  -khtml-opacity: .0;
  -moz-opacity: .0;
  
  z-index: 3;
  -webkit-transition: border .5s ease-out;
  -moz-transition: border .5s ease-out;
  -o-transition: border .5s ease-out;
   padding: 5px;
}
}
.dder {
    display: block;
}
.products-list__item {
  width: 16.66667%;
  padding: 8px;
}
.prod-anim-cont .prod-preview._animated {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  opacity: 1;
  visibility: visible;
}
.prod-anim-cont .prod-preview {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50% -200px;
  -ms-transform-origin: 50% 50% -200px;
  transform-origin: 50% 50% -200px;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
.prod-preview {
  display: block;
  position: relative;
  overflow: hidden;
  padding-bottom: 144%;
  text-align: center;
}
.prod-preview__init-gr {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  -webkit-transition: .3s;
  transition: .3s;
}
.price-label {
  background-color: #000;
  border-radius: 15px;
  line-height: 30px;
  font-size: 15px;
  padding: 0 18px;
  text-align: center;
  color: #ffc608;
  font-weight: 400;
}
.discount, .price-label {
  display: inline-block;
  white-space: nowrap;
}
.prod-preview__overlay:after {
  content: "";
  background-color: #000;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  -webkit-transition: .3s;
  transition: .3s;
}
.prod-preview__title {
  font-size: 15px;
  font-weight: 400;
}

.prod-preview__genre {
  text-transform: uppercase;
  color: #939393;
  font-size: 12px;
}


.dder:hover {
    display: none;
    postion: absolute;
  z-index: 3;
  -webkit-transition: border .5s ease-out;
  -moz-transition: border .5s ease-out;
  -o-transition: border .5s ease-out;
}
}

.landing .numbers {
	font-family: ProximaNova-Bold;
	font-size: 38px;
	line-height: 36px;
	color: #ffffff;
}
.landing .numbers-hint {
	font-size: 15px;
	line-height: 1.2;
	color: #8c8ca4;
}
.landing .hr {
	margin: 0px auto;
	margin-top: 20px;
	width: 84px;
	height: 6px;
	background-image: linear-gradient(to left, #7f4ffc, #997ff9);
}
.landing hr {
	background-color: #353543;
	border-top: 1px solid #353543;
}
.landing .footer {
	margin: 40px 0px;
	font-size: 15px;
	line-height: 1.5;
}
.landing-block1 {
	padding-top: 150px;
	background: #23232d;
}
.landing-block1 .container {
	background: url(/header-interface.png) no-repeat top right;
}
.landing-block1 h1 {
	font-family: Roboto;
	font-size: 30px;
	color: #ffffff;
}
.landing-block1 p {
	margin-top: 15px;
	font-family: Roboto;
	font-size: 15px;
	line-height: 1.3;
	color: #8c8ca4;
}


.landing-block2 {
	background:#2b2b37 url(/images/step-1-bg.png) no-repeat top center;
	height: 2338px;
}
.landing-block2 h3 {
	font-family: ProximaNova-Bold;
	font-size: 30px;
	height: 37px;
}
.landing-block2 h4 {
	font-family: ProximaNova-Semibold;
	font-size: 25px;
	color: #ffffff;
}
.landing-block2 p {
	font-family: ProximaNova-Regular;
	font-size: 15px;
	line-height: 1.5;
}
.landing-block2 .cs-logo {
	margin: 0px auto;
	margin-top: 100px;
	width:521px;
	height: 117px;
	background: url(/images/csgo-logo.png) no-repeat center center;
}
.landing-block2 .dota-logo {
	margin: 0px auto;
	margin-top: 320px;
	width: 255px;
	height: 167px;
	background: url(/images/dota-logo.png) no-repeat center center;
}
.landing-block2 .tf2-logo {
	margin: 0px auto;
	margin-top: 390px;
	width: 566px;
	height: 130px;
	background: url(/images/tf-logo.png) no-repeat center center;
}

.landing-block3 {
	background-color: #272732;
}
.landing-block3 h3 {
	font-family: ProximaNova-Bold;
	font-size: 30px;
	height: 37px;
}
.landing-block3 .carousel {
	width: 940px;
	position: relative;
	overflow: hidden;
}
.landing-block3 .carousel .carousel-content {
	height: 75px;
	width: auto;
	white-space: nowrap;
}
.landing-block3 .carousel .item {
	display: inline-block;
	margin-right: 37px;
	opacity: 0.5;
}
.landing-block3 .carousel .item:hover {
	opacity: 1;
}
.landing-block3 .carousel img {
	max-height: 75px;
	width: auto;
}

.landing-block3 .carousel .pgntn {
	width: 50px;
	height: 75px;
	position: absolute;
	cursor: pointer;
	z-index: 2;
}
.landing-block3 .carousel .pgntn.prev {
	display: none;
	top: 0px;
	left: 0px;
	background-image: linear-gradient(to right, #272732, rgba(39, 39, 50, 0));
}
.landing-block3 .carousel .pgntn.next {
	top:0px;
	right: 0px;
	background-image: linear-gradient(to left, #272732, rgba(39, 39, 50, 0));
}
.landing-block3 .carousel .btn-pgn {
	margin-top: 16px;
	width: 43px;
	height: 43px;
	border-radius: 43px;
	background-color: #353543;
}

.landing-block4 {
	background-color: #353543;
}
.landing-block4 .container {
	padding: 50px 0px;
	background: url(/connect-bg-logo.svg) no-repeat 600px center;
}
.landing-block4 p {
	font-size: 16px;
	margin-bottom: 10px;
}
.landing-block4 strong {
	font-family: Roboto;
	font-size: 20px;
}


.landing-block5 {
	background-color: #23232d;
}
.landing-block5 .icn {
	display: inline-block;
	width: 55px;
	height: 55px;
	border-radius: 5px;
	padding: 15px;
	margin-right: 15px;
	float: left;
}
.landing-block5 .icn-default {
	background-color: #353543;
}
.landing-block5 .icn-blue {
	background-color: #353543;
	/* background-image: linear-gradient(to right, #4dc3ff, #2690ff); */
}
.landing-block5 .icn img {
	width: 24px;
	height: 24px;
}
.landing-block5 p.title {
	font-family: Roboto;
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 5px;
	color:#ffffff;
}
.landing-block5 p.descr {
	font-size: 15px;
	line-height: 23px;
	color: #828299;
	margin-bottom: 0px;
}


.navbar-default {
	background-color: #353543;
}
.navbar .navbar-brand .logo {
	float: left;
	height: 24px;
	margin-right: 16px;
	margin-top: 8px;
}
.navbar .navbar-brand {
	font-family: ProximaNova-Semibold;
	font-size: 28px;
	line-height: 40px;
	color: #ffffff;
	padding: 0px;
	margin-top: 16px;
	margin-bottom: 16px;
	margin-left: 0px !important;
}
.navbar-default .navbar-nav > li > a {
	font-size: 14px;
	padding: 0px;
	line-height: 43px;
	height: 40px;
	margin-top: 16px;
	margin-bottom: 16px;
    font-family: ProximaNova-Semibold;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	background-color: inherit;
    cursor: pointer;
}


.col-xs-6.p-l-r-0.numbers {
    font-size: 28px;    line-height: 36px;    color: #ffffff;
    font-family: Roboto;
    margin-top: 25px;
    width: 500px;
    margin-left: -15px;
}

.col-xs-4.p-l-0.numbers.text-right {
    font-size: 38px;    line-height: 36px;    color: #ffffff;    font-family: Roboto;
}

.col-xs-7.p-l-r-0.numbers.text-right {
    font-size: 38px;    line-height: 36px;    color: #ffffff;    font-family: Roboto;
}
a.btn.btn-skinpay.m-t-35.t_t_u {
    border: 0px !important;    height: 50px !important;    line-height: 14px !important;    border-radius: 100px !important;    background-image: linear-gradient(to left, #7f4ffc, #997ff9) !important;    
    font-family: Roboto;    
    font-size: 16px !important;    color: #ffffff !important;    padding: 18px 24px !important;
}
a.btn.btn-skinsell.btn-skinsell-round.m-t-35.m-l-20.t_t_u {
    border: 0px !important;    height: 50px !important;    line-height: 14px !important;    background: #FCC130 !important;    
    font-family: Roboto;    
    font-size: 16px !important;    color: #000000 !important;    padding: 18px 24px !important;
    border-radius: 50px;
}
li.cater {
    padding: 10px;
    float: left;
    position: relative;    display: block;
    margin: 2px;
    font-size: 16px;
    background-image: linear-gradient(to left, #7f4ffc, #997ff9) !important;
    border-radius: 50px;
    text-decoration: none;
}
li.cater a:hover {
    text-decoration: none;
    color: #eee;
}
.m-t-50 {
    margin-top: 50px !important;  };
}
.field-content {
    padding: 30px;
}